<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Distance_Learning</display-name>
  <welcome-file-list>
    <welcome-file>front_page.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Uploading</display-name>
    <servlet-name>Uploading</servlet-name>
    <servlet-class>Uploading</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uploading</servlet-name>
    <url-pattern>/Uploading</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadingServlet</display-name>
    <servlet-name>UploadingServlet</servlet-name>
    <servlet-class>UploadingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadingServlet</servlet-name>
    <url-pattern>/UploadingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Questioning</display-name>
    <servlet-name>Questioning</servlet-name>
    <servlet-class>Questioning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questioning</servlet-name>
    <url-pattern>/Questioning</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitAnswer</display-name>
    <servlet-name>SubmitAnswer</servlet-name>
    <servlet-class>SubmitAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitAnswer</servlet-name>
    <url-pattern>/SubmitAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailFeedback</display-name>
    <servlet-name>EmailFeedback</servlet-name>
    <servlet-class>EmailFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailFeedback</servlet-name>
    <url-pattern>/EmailFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Downloading</display-name>
    <servlet-name>Downloading</servlet-name>
    <servlet-class>Downloading</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Downloading</servlet-name>
    <url-pattern>/Downloading</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterFaculity</display-name>
    <servlet-name>RegisterFaculity</servlet-name>
    <servlet-class>RegisterFaculity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterFaculity</servlet-name>
    <url-pattern>/RegisterFaculity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourses</display-name>
    <servlet-name>AddCourses</servlet-name>
    <servlet-class>AddCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourses</servlet-name>
    <url-pattern>/AddCourses</url-pattern>
  </servlet-mapping>
</web-app>